 
 <div class="heading">
 <h2>Book Details</h2>
</div> 
<div class="box">
  <div class="left">
    <img src="assets/image/Angular1.jpg" alt="Book Image">
</div>
    <div class="right">
    <table>
        <tr>
            <th>Title</th>
            <td>{{title}}</td>
         </tr>
         <tr>
            <th>Author</th>
            <td>{{author}}</td>
         </tr> 
         <tr>  
            <th>Category</th>
            <td>{{category}}</td> 
         </tr>  
         <tr> 
            <th>Price</th>
            <td>₹{{price}}</td>
        </tr>    
    
    </table>
<div class="cart">
<button id="b1"><mat-icon>cart</mat-icon>Add to cart</button>
<button id="b2"><mat-icon>heart</mat-icon>Add to Whislist</button>
</div>
</div>
</div>