.heading{
  background-color: rgb(216, 112, 129);
  text-align: left;
  border: 20px;
  left: 30%;
}
.box{
    position: absolute;
    top: 27%;
    left: 24%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 2px;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
}
.box .left{
  width: 50px;
  flex: 0 0 150px;
}
.box .left img{
    max-width: 100%;
}
.box .right table{
    width: 100%;
    flex: 0 0 150px;
    border-collapse: collapse;
}
.box .right th,td{
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  
}

.box  .cart{
    padding: 4px;
    display: inline-block;
}
#b1
{
   background-position: -4px 0;
}
#b2
{
   background-position: -59px 0;
}