 
 <div class="heading">
 <h2>Book Details</h2>
</div> 
<div class="box">
  <div class="left">
    <img src="assets/image/Angular1.jpg" alt="Book Image">
</div>
    <div class="right">
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
    <tr>
        <td>{{title}}</td>   
        <td>{{author}}</td>
        <td>{{category}}</td>   
        <td>₹{{price}}</td>
    </tr>
    </table>
<div class="cart">
<button>Add to cart</button>
<button>Add to Whislist</button>
</div>
</div>
</div>