
    <div class="title">
    <h2 style="font-size: 30px;">Book Details</h2>
  </div>
<div class="outer">
    <div class="image">
        <img src="assets/images/HP.jpg" alt="Book Image">
    </div>
    <div class="row">
        
  <table  *ngFor="let book of bookDetails">
        <tr>
            <th>Title</th>
            <td>{{book.title}}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{book.author}}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{book.category}}</td>
        </tr>
        <tr>
        <th>Price</th>
        <td>{{book.price | currency:"INR"}}</td>
        </tr>
    </table>
    </div>
    <div class="cart">
    <button id="b1"><mat-icon>shopping_cart</mat-icon>Add to Cart</button>
    <button id="b2"><mat-icon>favorite</mat-icon>Add to Whishlist</button>
</div>
</div>
</div>

   
    
    


